# Web framework
fastapi==0.116.1
uvicorn[standard]==0.35.0    # uvloop, httptools, websockets, watchfiles 포함
starlette==0.47.2

# DB / Cache
SQLAlchemy==2.0.41
PyMySQL==1.1.1
aiomysql==0.2.0
redis==6.2.0

# Auth / Security
python-jose==3.5.0
bcrypt==4.3.0
cryptography==45.0.5

# Config / Utils
pydantic==2.11.7
python-dotenv==1.1.1
typing_extensions==4.14.1
PyYAML==6.0.2

# AI
# --- PyTorch CPU 전용 인덱스 ---
--index-url https://download.pytorch.org/whl/cpu
--extra-index-url https://pypi.org/simple
pillow==11.3.0
torch==2.8.0
torchvision==0.23.0