# Python==3.12.11
fastapi==0.116.1
pydantic==2.11.7
python-dotenv==1.1.1
bcrypt==4.3.0
python-jose==3.5.0
cryptography==45.0.5
sqlalchemy==2.0.41
aiomysql==0.2.0
redis==6.2.0
uvicorn==0.35.0
python-json-logger==3.3.0

bitarray==3.6.0
torch==2.7.1
pillow==11.3.0

openssl==OpenSSL 3.0.15 3 Sep 2024
nginx = 1.29.0